mysession.log
terminal.jsonl
log_updates.jsonl
old
.DS_Store
__pycache__
terminal.cast
trimmed_terminal.cast
.vscode
.mypy_cache
scrap.py
old_tools
task.txt
hooks_activity.jsonl
human_agent_info.txt
notes.jsonl
tool_activity.jsonl
use_hook_activity.jsonl
internal_settings.json
setup.flag
local.flag